* {
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 242, 242);
}

.game-container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 20%);
    background-color: white;
}

.game-message {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.game-message span {
    font-weight: 600;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    font-size: 2.5rem;
    border: none;
    background-color: rgb(248, 248, 248);
    box-shadow: inset 5px 5px 20px rgb(0 0 0 / 6%);
}

.red-x {
    color: rgb(237, 81, 81);
}

.blue-o {
    color: rgb(84, 176, 207);
}

.cell.hover-active:hover {
    box-shadow: inset 5px 5px 20px rgb(0 0 0 / 2%);
}

.cell.hover-active:active {
    box-shadow: inset 5px 5px 20px rgb(0 0 0 / 10%);
}