:root {
    --green-color: #86959a;
    --sand-color: #fbfaee;
    --shadow-color: #e1e1d9;
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 242, 242);
}

.round-container {
    width: 650px;
    aspect-ratio: 1 /1;
    padding: 70px;
    margin: 30px auto;
    border-radius: 100%;
    background-color: var(--sand-color);
    border: 40px solid var(--green-color);
    box-shadow: inset 0px 20px 0 var(--shadow-color);
}

.square-container {
    width: 300px;
    margin: auto;
    padding: 40px;
    border-radius: 40px;
    background-color: rgb(134,149,154);
}

.game-message {
    font-size: 1.5rem;
    text-align: center;
    color: var(--green-color);
    padding-bottom: 3rem;
    font-family: "Fredoka", serif;
    font-weight: 400;
}

.game-message span {
    font-weight: 600;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--sand-color);
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    aspect-ratio: 1 / 1;
    border-radius: 2px;
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--sand-color);
    border: none;
    background-color: var(--green-color);
    text-shadow: rgb(0 0 0 / 10%) 3px 3px 3px;
}

.cell.hover-active:hover {
    box-shadow: inset 100px 100px rgb(255 255 255 / 5%);
}

.cell.hover-active:active {
    box-shadow: inset 3px 3px 3px rgb(0 0 0 / 10%);
}

.player-mark {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--sand-color);
    background-color: var(--shadow-color);
}

.game-logo {
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
    color: var(--green-color)
}

.logo-subtitle {
    font-family: "Fredoka", serif;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: center;
    color: var(--green-color);
    margin-bottom: 30px; 
}

.player-name {
    border: 2px solid var(--shadow-color);
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    width: 325px;
}

.player-name:active {
    border: 2px solid var(--green-color);
}

.versus {
    font-family: "Fredoka", serif;
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    color: var(--green-color);
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100%;
}

.ready-button {
    background-color: rgba(0 0 0 / 0%);
    font-family: "Fredoka", serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--sand-color);
    background-color: var(--green-color);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
}